@using PagedList.Mvc
@model List<HRAgencySystem.Web.ViewModels.Hall.HallReservationsViewModel>
@{
    ViewBag.Title = "Show Rservations";
}

<h2>Show Reservations</h2>

<div id="hall-reservations-input" class="pull-left">
    @if (@Model.Any())
    {
        <table class="table table-striped table-hover table-hall-reservations" id="user-reservations">
            <thead>
            <tr>
                <th class="hidden-phone">Hall name</th>
                <th>Description</th>
                <th>Capacity</th>
                <th class="hidden-phone">Start date</th>
                <th class="hidden-phone">End date</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @Html.DisplayFor(x => x)
            </tbody>
        </table>
    }
    else
    {
        <p>No reservations!</p>
    }
</div>

