@using PagedList.Mvc
@model PagedList.IPagedList<HRAgencySystem.Web.ViewModels.Hall.HallViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div id="hall-input" class="pull-left">
    <h2>Halls:</h2>
    <div class="row">
        @Html.DisplayFor(x => x)
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))